In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import sys

sys.version
sys.path

['',
 'C:\\Users\\STEVEN\\Anaconda3\\python36.zip',
 'C:\\Users\\STEVEN\\Anaconda3\\DLLs',
 'C:\\Users\\STEVEN\\Anaconda3\\lib',
 'C:\\Users\\STEVEN\\Anaconda3',
 'C:\\Users\\STEVEN\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\STEVEN\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\STEVEN\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\STEVEN\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\STEVEN\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\STEVEN\\.ipython']

In [3]:
# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    'C:\\Users\\STEVEN\\Documents\\Thinkful\\Files\\Loans\\loans.csv',
    skipinitialspace=True,
    header=1
)

# Note the warning about dtypes.

C:\Users\STEVEN\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [5]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
421097
term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

In [6]:
print(y2015)

                                                      id   member_id  \
0                                               68009401  72868139.0
1                                               68354783  73244544.0
2                                               68466916  73356753.0
3                                               68466961  73356799.0
4                                               68495092  73384866.0
5                                               68506798  73396623.0
6                                               68566886  73456723.0
7                                               68577849  73467703.0
8                                               66310712  71035433.0
9                                               68476807  73366655.0
10                                              68341763  72928789.0
11                                              68356421  73246236.0
12                                              68426545  73316365.0
13                                              68407277  73297111.0
14                                              68355089  73244858.0
15                                              68466926  73356763.0
16                                              68338832  73542831.0
17                                              68426831  73316657.0
18                                              66624733  71350547.0
19                                              68616873  73519699.0
20                                              67275481  72077199.0
21                                              68476668  73366513.0
22                                              68476702  73366548.0
23                                              68436666  73326493.0
24                                              68596180  73485987.0
25                                              67849662  72708407.0
26                                              68526883  73416719.0
27                                              68607141  73509983.0
28                                              68476715  73366561.0
29                                              67715283  72569997.0
...                                                  ...         ...
421067                                          36691397  39434133.0
421068                                          36743377  39486112.0
421069                                          36331554  39042967.0
421070                                          36460697  39182359.0
421071                                          35773415  38468842.0
421072                                          36250801  38962184.0
421073                                          36371802  39103231.0
421074                                          36440728  39152101.0
421075                                          36361815  39093260.0
421076                                          35591131  38288343.0
421077                                          36201871  38913321.0
421078                                          36381756  39013193.0
421079                                          36231724  38943173.0
421080                                          36301729  39023153.0
421081                                          36250208  38961532.0
421082                                          36241316  38952731.0
421083                                          36231718  38943165.0
421084                                          36381704  39013139.0
421085                                          36421485  39142898.0
421086                                          35094480  37777829.0
421087                                          36260758  38972123.0
421088                                          36221446  38932858.0
421089                                          36330911  39042282.0
421090                                          36371250  39102635.0
421091                                          36441262  39152692.0
421092                                          36271333  38982739.0
421093                                          36490806  39222577.0
421094                                          36271262  38982659.0
421095  Total amount funded in policy code 1: 6417608175         NaN
421096  Total amount funded in policy code 2: 1944088810         NaN

        loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  \
0         16000.0      16000.0          16000.0   60 months   14.85%
1          9600.0       9600.0           9600.0   36 months    7.49%
2         25000.0      25000.0          25000.0   36 months    7.49%
3         28000.0      28000.0          28000.0   36 months    6.49%
4          8650.0       8650.0           8650.0   36 months   19.89%
5         23000.0      23000.0          23000.0   60 months    8.49%
6         29900.0      29900.0          29900.0   60 months   12.88%
7         18000.0      18000.0          18000.0   60 months   11.99%
8         35000.0      35000.0          35000.0   60 months   14.85%
9         10400.0      10400.0          10400.0   60 months   22.45%
10        20000.0      20000.0          20000.0   60 months   10.78%
11        22400.0      22400.0          22400.0   60 months   12.88%
12        16000.0      16000.0          16000.0   60 months   12.88%
13         3600.0       3600.0           3600.0   36 months   13.99%
14        24700.0      24700.0          24700.0   36 months   11.99%
15        10000.0      10000.0          10000.0   36 months    6.49%
16         1400.0       1400.0           1400.0   36 months   12.88%
17        11950.0      11950.0          11950.0   36 months   13.44%
18        18000.0      18000.0          18000.0   60 months   19.48%
19         8000.0       8000.0           8000.0   36 months   11.48%
20        20000.0      20000.0          20000.0   36 months    8.49%
21        20000.0      20000.0          20000.0   36 months    9.17%
22        28000.0      28000.0          28000.0   36 months   13.44%
23         5000.0       5000.0           5000.0   36 months   13.44%
24        20000.0      20000.0          20000.0   36 months    5.32%
25         4225.0       4225.0           4225.0   36 months   14.85%
26        15000.0      15000.0          15000.0   36 months    5.32%
27        17600.0      17600.0          17600.0   36 months    5.32%
28         6000.0       6000.0           6000.0   36 months    7.49%
29        16000.0      16000.0          16000.0   36 months   12.88%
...           ...          ...              ...         ...      ...
421067    20000.0      20000.0          20000.0   36 months    6.99%
421068     4200.0       4200.0           4200.0   36 months   15.99%
421069    26950.0      26950.0          26950.0   36 months    8.19%
421070    23000.0      23000.0          23000.0   60 months   15.59%
421071    18700.0      18700.0          18700.0   60 months   17.86%
421072     6000.0       6000.0           6000.0   36 months   17.86%
421073    15000.0      15000.0          15000.0   60 months   11.44%
421074    25000.0      25000.0          25000.0   60 months   15.99%
421075    26500.0      26500.0          26500.0   60 months    8.67%
421076    25000.0      25000.0          25000.0   60 months   15.59%
421077    21000.0      21000.0          21000.0   36 months    6.03%
421078     8000.0       8000.0           8000.0   36 months    8.19%
421079    12000.0      12000.0          12000.0   36 months    9.49%
421080    10000.0      10000.0          10000.0   36 months    6.49%
421081    13150.0      13150.0          13150.0   60 months   14.99%
421082     6225.0       6225.0           6225.0   36 months   16.49%
421083    10775.0      10775.0          10775.0   36 months    6.03%
421084     7000.0       7000.0           7000.0   36 months   14.31%
421085     4000.0       4000.0           4000.0   36 months    8.67%
421086     7500.0       7500.0           7500.0   36 months    9.49%
421087    10850.0      10850.0          10850.0   36 months   19.24%
421088    11575.0      11575.0          11575.0   36 months   15.59%
421089    12000.0      12000.0          12000.0   36 months   11.99%
421090    10000.0      10000.0          10000.0   36 months   11.99%
421091    24000.0      24000.0          24000.0   36 months   11.99%
421092    13000.0      13000.0          13000.0   60 months   15.99%
421093    12000.0      12000.0          12000.0   60 months   19.99%
421094    20000.0      20000.0          20000.0   36 months   11.99%
421095        NaN          NaN              NaN         NaN      NaN
421096        NaN          NaN              NaN         NaN      NaN

        installment grade sub_grade            ...              \
0            379.39     C        C5            ...
1            298.58     A        A4            ...
2            777.55     A        A4            ...
3            858.05     A        A2            ...
4            320.99     E        E3            ...
5            471.77     B        B1            ...
6            678.49     C        C2            ...
7            400.31     C        C1            ...
8            829.90     C        C5            ...
9            289.91     F        F1            ...
10           432.66     B        B4            ...
11           508.30     C        C2            ...
12           363.07     C        C2            ...
13           123.03     C        C4            ...
14           820.28     C        C1            ...
15           306.45     A        A2            ...
16            47.10     C        C2            ...
17           405.18     C        C3            ...
18           471.70     E        E2            ...
19           263.74     B        B5            ...
20           631.26     B        B1            ...
21           637.58     B        B2            ...
22           949.38     C        C3            ...
23           169.54     C        C3            ...
24           602.30     A        A1            ...
25           146.16     C        C5            ...
26           451.73     A        A1            ...
27           530.03     A        A1            ...
28           186.61     A        A4            ...
29           538.18     C        C2            ...
...             ...   ...       ...            ...
421067       617.46     A        A3            ...
421068       147.64     D        D2            ...
421069       846.88     A        A5            ...
421070       554.32     D        D1            ...
421071       473.44     D        D5            ...
421072       216.50     D        D5            ...
421073       329.44     B        B4            ...
421074       607.82     D        D2            ...
421075       545.87     B        B1            ...
421076       602.52     D        D1            ...
421077       639.15     A        A1            ...
421078       251.40     A        A5            ...
421079       384.34     B        B2            ...
421080       306.45     A        A2            ...
421081       312.77     C        C5            ...
421082       220.37     D        D3            ...
421083       327.95     A        A1            ...
421084       240.30     C        C4            ...
421085       126.59     B        B1            ...
421086       240.22     B        B2            ...
421087       399.04     E        E2            ...
421088       404.61     D        D1            ...
421089       398.52     B        B5            ...
421090       332.10     B        B5            ...
421091       797.03     B        B5            ...
421092       316.07     D        D2            ...
421093       317.86     E        E3            ...
421094       664.20     B        B5            ...
421095          NaN   NaN       NaN            ...
421096          NaN   NaN       NaN            ...

       num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
0                     0.0                2.0           78.9               0.0
1                     0.0                2.0          100.0              66.7
2                     0.0                0.0          100.0              20.0
3                     0.0                0.0           91.7              22.2
4                     0.0               12.0          100.0              50.0
5                     0.0                2.0           87.9              14.3
6                     0.0                4.0          100.0              25.0
7                     0.0                4.0          100.0               0.0
8                     0.0                1.0          100.0               0.0
9                     0.0                4.0           96.6              60.0
10                    0.0                0.0          100.0              50.0
11                    0.0                3.0           97.0              25.0
12                    0.0                1.0          100.0              60.0
13                    0.0                3.0           76.9               0.0
14                    0.0                2.0           97.4               7.7
15                    0.0                2.0           95.7              28.6
16                    0.0                1.0          100.0              75.0
17                    0.0                0.0          100.0             100.0
18                    0.0                3.0          100.0              14.3
19                    0.0                2.0           94.4              33.3
20                    1.0                0.0           93.3               0.0
21                    0.0                2.0           96.3             100.0
22                    0.0                0.0          100.0              40.0
23                    0.0                0.0          100.0             100.0
24                    0.0                0.0          100.0               0.0
25                    0.0                0.0           66.7               0.0
26                    0.0                0.0           90.5               0.0
27                    0.0                1.0          100.0               0.0
28                    0.0                0.0           93.7              50.0
29                    0.0                2.0           80.0               0.0
...                   ...                ...            ...               ...
421067                0.0                4.0           80.0              50.0
421068                0.0                6.0           88.9             100.0
421069                0.0                0.0          100.0               0.0
421070                0.0                2.0          100.0              37.5
421071                0.0                3.0           88.9              50.0
421072                0.0                2.0          100.0             100.0
421073                0.0                2.0          100.0              40.0
421074                0.0                0.0          100.0             100.0
421075                0.0                0.0           95.2              50.0
421076                0.0                1.0          100.0              37.5
421077                0.0                0.0          100.0               0.0
421078                0.0                2.0           85.2              33.3
421079                1.0                1.0           80.0              40.0
421080                0.0                0.0           96.9               0.0
421081                0.0                0.0          100.0               0.0
421082                0.0                0.0          100.0             100.0
421083                0.0                0.0           90.5               0.0
421084                1.0                3.0           80.0              16.7
421085                0.0                2.0          100.0               0.0
421086                0.0                4.0           96.6              20.0
421087                0.0                3.0           90.0              50.0
421088                0.0                1.0          100.0              42.9
421089                1.0                3.0           98.3              50.0
421090                0.0                1.0          100.0             100.0
421091                0.0                2.0           56.5             100.0
421092                0.0                3.0          100.0              50.0
421093                1.0                2.0           95.0              66.7
421094                0.0                1.0          100.0              50.0
421095                NaN                NaN            NaN               NaN
421096                NaN                NaN            NaN               NaN

       pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort  \
0                       0.0       2.0        298100.0           31329.0
1                       0.0       0.0         88635.0           55387.0
2                       0.0       0.0        373572.0           68056.0
3                       0.0       0.0        304003.0           74920.0
4                       1.0       0.0         38998.0           18926.0
5                       0.0       0.0         93962.0           63886.0
6                       0.0       0.0        271700.0           42497.0
7                       0.0       0.0        309710.0           36127.0
8                       0.0       0.0        381215.0           52226.0
9                       0.0       0.0        439570.0           95768.0
10                      0.0       0.0        218418.0           18696.0
11                      0.0       0.0        436841.0          184356.0
12                      0.0       0.0        309638.0           62407.0
13                      0.0       0.0        178050.0            7746.0
14                      0.0       0.0        314017.0           39475.0
15                      1.0       0.0         61099.0           27957.0
16                      0.0       0.0        372109.0           75258.0
17                      0.0       0.0         16900.0           12798.0
18                      1.0       0.0         65819.0           36247.0
19                      0.0       0.0        256513.0          113782.0
20                      0.0       0.0        193390.0           27937.0
21                      0.0       0.0        388852.0          116762.0
22                      0.0       0.0         36100.0           22780.0
23                      0.0       0.0         41091.0           35653.0
24                      0.0       0.0        106217.0           15444.0
25                      0.0       0.0         21822.0            4888.0
26                      0.0       0.0         33800.0           17003.0
27                      0.0       0.0        285027.0           80847.0
28                      0.0       0.0        156354.0           22741.0
29                      0.0       1.0         80999.0           39781.0
...                     ...       ...             ...               ...
421067                  0.0       0.0        423079.0           52677.0
421068                  0.0       0.0        224211.0           45512.0
421069                  0.0       0.0        137433.0           41650.0
421070                  0.0       0.0         79510.0           48978.0
421071                  0.0       0.0         42499.0           40164.0
421072                  0.0       0.0        412963.0           14906.0
421073                  0.0       0.0         47674.0           33529.0
421074                  0.0       0.0         18700.0           17275.0
421075                  0.0       0.0        214551.0           91768.0
421076                  0.0       0.0         24400.0           13860.0
421077                  0.0       0.0        301457.0           36303.0
421078                  0.0       0.0        230732.0           38259.0
421079                  0.0       0.0         28183.0           20671.0
421080                  0.0       0.0        148298.0           88120.0
421081                  0.0       0.0        190700.0             672.0

In [7]:


# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

In [8]:
# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

In [9]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
y2015.loan_status.unique()

array(['Current', 'Fully Paid', 'Charged Off', 'Late (31-120 days)',
       'In Grace Period', 'Default', 'Late (16-30 days)', nan],
      dtype=object)

In [11]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

In [26]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

array([0.97888913, 0.98074137, 0.98150127, 0.9816675 , 0.9764189 ,
       0.97770126, 0.94260134, 0.98078796, 0.97976583, 0.98000285])

In [27]:
corr_matrix = X.corr()

In [28]:
#print(corr_matrix.Current)

In [29]:
#corr_matrix

In [30]:
s_corr = y2015.loan_status.str.get_dummies()
print(s_corr)
Z = y2015 + s_corr

        Charged Off  Current  Default  Fully Paid  In Grace Period  \
0                 0        1        0           0                0
1                 0        1        0           0                0
2                 0        0        0           1                0
3                 0        1        0           0                0
4                 0        0        0           1                0
5                 0        1        0           0                0
6                 0        1        0           0                0
7                 0        0        0           1                0
8                 0        1        0           0                0
9                 0        0        0           1                0
10                0        1        0           0                0
11                0        1        0           0                0
12                0        1        0           0                0
13                0        1        0           0                0
14                0        0        0           1                0
15                0        1        0           0                0
16                0        1        0           0                0
17                0        1        0           0                0
18                0        1        0           0                0
19                0        1        0           0                0
20                0        1        0           0                0
21                0        0        0           1                0
22                0        1        0           0                0
23                0        1        0           0                0
24                0        1        0           0                0
25                0        1        0           0                0
26                0        1        0           0                0
27                0        0        0           1                0
28                0        1        0           0                0
29                0        1        0           0                0
...             ...      ...      ...         ...              ...
421065            0        1        0           0                0
421066            0        1        0           0                0
421067            0        1        0           0                0
421068            1        0        0           0                0
421069            0        0        0           1                0
421070            0        1        0           0                0
421071            0        0        0           1                0
421072            0        1        0           0                0
421073            0        1        0           0                0
421074            0        0        0           0                0
421075            0        1        0           0                0
421076            0        0        0           1                0
421077            0        1        0           0                0
421078            0        1        0           0                0
421079            0        0        0           1                0
421080            0        1        0           0                0
421081            0        0        0           1                0
421082            0        0        0           1                0
421083            0        0        0           1                0
421084            0        1        0           0                0
421085            0        0        0           1                0
421086            0        1        0           0                0
421087            1        0        0           0                0
421088            0        0        0           1                0
421089            1        0        0           0                0
421090            0        1        0           0                0
421091            0        1        0           0                0
421092            1        0        0           0                0
421093            1        0        0           0                0
421094            0        1        0           0                0

        Late (16-30 days)  Late (31-120 days)
0                       0                   0
1                       0                   0
2                       0                   0
3                       0                   0
4                       0                   0
5                       0                   0
6                       0                   0
7                       0                   0
8                       0                   0
9                       0                   0
10                      0                   0
11                      0                   0
12                      0                   0
13                      0                   0
14                      0                   0
15                      0                   0
16                      0                   0
17                      0                   0
18                      0                   0
19                      0                   0
20                      0                   0
21                      0                   0
22                      0                   0
23                      0                   0
24                      0                   0
25                      0                   0
26                      0                   0
27                      0                   0
28                      0                   0
29                      0                   0
...                   ...                 ...
421065                  0                   0
421066                  0                   0
421067                  0                   0
421068                  0                   0
421069                  0                   0
421070                  0                   0
421071                  0                   0
421072                  0                   0
421073                  0                   0
421074                  0                   1
421075                  0                   0
421076                  0                   0
421077                  0                   0
421078                  0                   0
421079                  0                   0
421080                  0                   0
421081                  0                   0
421082                  0                   0
421083                  0                   0
421084                  0                   0
421085                  0                   0
421086                  0                   0
421087                  0                   0
421088                  0                   0
421089                  0                   0
421090                  0                   0
421091                  0                   0
421092                  0                   0
421093                  0                   0
421094                  0                   0

[421095 rows x 7 columns]

In [31]:
corr_matrix = Z.corr()
corr_matrix2 = y2015.corr()

In [32]:
#print(corr_matrix2)

In [33]:
#print(corr_matrix)

In [34]:
#Changing Loan Status to Categorical Values

def cat_to_num(x):
    if x=='Default':
        return 6
    if x=='Late (31-120 days)':
        return 5
    if x=='Late (16-30 days)':
        return 4
    if x=='In Grace Period':
        return 3
    if x=='Current':
        return 2
    if x=='Fully Paid':
        return 1
    if x=='Charged off':
        return 0

In [35]:
y2015['loan_status_cat'] = y2015['loan_status'].apply(cat_to_num)

In [36]:
#print(y2015['loan_status_cat'])

#still some Nans

In [37]:
corr_matrix2 = y2015.corr()

In [41]:
s = corr_matrix2.loan_status_cat
so = s.sort_values(kind='quicksort')
print(so)

last_pymnt_amnt                  -0.504332
total_rec_prncp                  -0.429093
total_pymnt_inv                  -0.347855
total_pymnt                      -0.347844
mort_acc                         -0.055376
bc_open_to_buy                   -0.052973
avg_cur_bal                      -0.045630
tot_hi_cred_lim                  -0.042213
tot_cur_bal                      -0.039751
total_cu_tl                      -0.037459
num_bc_tl                        -0.030510
total_acc                        -0.030214
total_bc_limit                   -0.029702
mths_since_recent_bc_dlq         -0.026632
num_rev_accts                    -0.026008
mths_since_recent_revol_delinq   -0.025497
mths_since_last_delinq           -0.023293
total_rev_hi_lim                 -0.022886
pct_tl_nvr_dlq                   -0.020022
annual_inc                       -0.018155
mths_since_last_record           -0.015570
max_bal_bc                       -0.014289
mths_since_last_major_derog      -0.013804
pub_rec_bankruptcies             -0.012799
num_tl_op_past_12m               -0.012555
mths_since_rcnt_il               -0.008868
mo_sin_old_rev_tl_op             -0.008395
acc_open_past_24mths             -0.008242
num_il_tl                        -0.004976
chargeoff_within_12_mths         -0.002548
                                    ...
annual_inc_joint                  0.011340
inq_fi                            0.012111
tax_liens                         0.012134
open_acc                          0.012924
num_sats                          0.013195
open_il_6m                        0.017930
installment                       0.018637
delinq_2yrs                       0.019643
total_bal_il                      0.020126
funded_amnt_inv                   0.030860
loan_amnt                         0.030918
funded_amnt                       0.030918
dti                               0.033184
num_actv_bc_tl                    0.037730
num_actv_rev_tl                   0.050573
num_rev_tl_bal_gt_0               0.053498
all_util                          0.057424
percent_bc_gt_75                  0.064019
int_rate                          0.071411
bc_util                           0.072696
member_id                         0.086482
id                                0.086611
total_rec_late_fee                0.107722
total_rec_int                     0.167352
out_prncp_inv                     0.425877
out_prncp                         0.425893
loan_status_cat                   1.000000
recoveries                             NaN
collection_recovery_fee                NaN
policy_code                            NaN
Name: loan_status_cat, Length: 88, dtype: float64

In [44]:
F = y2015[['out_prncp', 'out_prncp_inv', 'total_rec_int', 'total_rec_late_fee', 'id', 'member_id', 'bc_util', 'int_rate', 'percent_bc_gt_75', 'all_util', 'num_rev_tl_bal_gt_0', 'dti', 'funded_amnt', 'loan_amnt', 'funded_amnt_inv', 'total_bal_il', 'delinq_2yrs', 'installment']].copy()

In [45]:
F = pd.get_dummies(F)
F = X.dropna(axis=1)

cross_val_score(rfc, F, Y, cv=10)

array([0.97991024, 0.98031393, 0.98159626, 0.98159626, 0.9720019 ,
       0.97857991, 0.84986582, 0.980313  , 0.9793621 , 0.98019285])

In [46]:
#I don't believe it is possible to determine the actual probability of the model to compute with the basic information of payment amount or outstounding amount
# due to the fact that these are so integral in determining the validity of someone's credit.  Also almost all of these are tied in someway to payment amount and outstanding

In [48]:
G = y2015[['out_prncp', 'out_prncp_inv', 'total_rec_int', 'total_rec_late_fee', 'id', 'member_id', 'bc_util', 'int_rate', 'percent_bc_gt_75', 'all_util', 'num_rev_tl_bal_gt_0', 'dti', 'funded_amnt', 'loan_amnt', 'funded_amnt_inv', 'total_bal_il', 'delinq_2yrs', 'installment']].copy()
G = X.dropna(axis=1)
cross_val_score(rfc, G, Y, cv=10)

array([0.97855667, 0.98031393, 0.98114507, 0.98176248, 0.97530278,
       0.97929233, 0.93683061, 0.98059797, 0.9795046 , 0.98073909])